<?xml version="1.0"?>

<config>
    <modules>
        <Thespace_ImportExport>
            <version>0.1.0</version>
            <depends>
                <AvS_FastSimpleImport/>
            </depends>
        </Thespace_ImportExport>
    </modules>


    <global>
        <helpers>
            <thespaceimportexport>
                <class>Thespace_ImportExport_Helper</class>
            </thespaceimportexport>
        </helpers>
    </global>

    <admin>
        <routers>
            <thespaceimportexport>
                <use>admin</use>
                <args>
                    <module>Thespace_ImportExport</module>
                    <frontName>thespaceimportexport</frontName>
                </args>
            </thespaceimportexport>
        </routers>
    </admin>

    <adminhtml>
        <menu>
            <menu_ts_import_export translate="title" module="ImportExport">
                <title>TS Imp/Exp</title>
                <sort_order>60</sort_order>
                <children>
                    <menu_ts_import_export_import module="ImportExport">
                        <title>Import</title>
                        <children>
                            <menu_ts_import_export_import_products module="ImportExport">
                                <title>Import prodotti</title>
                                <action>thespaceimportexport/import</action>
                            </menu_ts_import_export_import_products>
                            <menu_ts_import_export_import_variations module="ImportExport">
                                <title>Variazioni automatiche</title>
                                <action>thespaceimportexport/configurable</action>
                            </menu_ts_import_export_import_variations>
                            <menu_ts_import_export_import_images module="ImportExport">
                                <title>Upload immagini</title>
                                <action>thespaceimportexport/images</action>
                            </menu_ts_import_export_import_images>
                        </children>
                    </menu_ts_import_export_import>
                    <menu_ts_import_export_export module="ImportExport">
                        <title>Export</title>
                        <children>
                            <menu_ts_import_export_export_products module="ImportExport">
                                <title>Export prodotti</title>
                                <action>thespaceimportexport/export</action>
                            </menu_ts_import_export_export_products>
                            <menu_ts_import_export_export_categories module="ImportExport">
                                <title>Export categories</title>
                                <action>thespaceimportexport/exportcategories</action>
                            </menu_ts_import_export_export_categories>
                        </children>
                    </menu_ts_import_export_export>
                    <menu_ts_import_export_configuration module="ImportExport">
                        <title>Configurazione</title>
                        <action>thespaceimportexport/configuration</action>
                    </menu_ts_import_export_configuration>
                </children>
            </menu_ts_import_export>
        </menu>
        <!--<acl>-->
        <!--<resources>-->
        <!--<admin>-->
        <!--<children>-->
        <!--<menu1 translate="title" module="ImportExport">-->
        <!--<title>CM ImportExport</title>-->
        <!--<sort_order>60</sort_order>-->
        <!--<children>-->
        <!--<menuitem1>-->
        <!--<title>Import</title>-->
        <!--</menuitem1>-->
        <!--</children>-->
        <!--</menu1>-->
        <!--</children>-->
        <!--</admin>-->
        <!--</resources>-->
        <!--</acl>-->
    </adminhtml>

</config>
